<!-- Navigation -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid dm-navbar">
    <a class="navbar-brand text-white" href="#">
      <img src="../uploads/logodm.jpg" alt="" width="60px" height="60px">
      <span class="logowrite">Dream More Company</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto listbtn-navbar">
        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        
        <!-- Auth Buttons -->
        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</button>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
