
    <!-- Our Team Section -->
    <section id="team">
        <div class="container">
            <h2 class="section-title">Meet Our Teams</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../uploads/CEO.jpg" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">MR.ABEBE EYAYU</h5>
                            <p class="card-text">CEO & FOUNDER</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../uploads/BETI.jpg" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">MRS. BETELHEM ZARADAWIT</h5>
                            <p class="card-text">CONTENT CREATER</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../uploads/abay.jpg" class="card-img-top rounded-circle mx-auto mt3" style="width: 150px; height: 150px;" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">MR. ABAY KASA</h5>
                            <p class="card-text">VIDEO EDITOR</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../uploads/HAYMIE.jpg" class="card-img-top rounded-circle mx-auto mt3" style="width: 150px; height: 150px;" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">MRS.HAYMANOT YABIBAL</h5>
                            <p class="card-text">DIGITAL AND SOCIAL MARKETER</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../uploads/ME.jpg" class="card-img-top rounded-circle mx-auto mt3" style="width: 150px; height: 150px; background-color: #000000; border: solid 4px;" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">MR. SMEGN DESTEW</h5>
                            <p class="card-text">FULL STACK DEVELOPER AND INSTRUCTOR</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../uploads/BESUFEKAD.jpg" class="card-img-top rounded-circle mx-auto mt3" style="width: 150px; height: 150px;" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">MR. BESUFEKAD TSEGAYE</h5>
                            <p class="card-text">GRAPHICES DESIGNER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
