<section id="testimonials">
    <div class="container">
        <h2 class="section-title">Testimonials</h2>
        <div class="row align-items-center justify-content-between">
            <!-- Left arrow button -->
            <div style="background-color: #ff7800; border-radius: 50%; width: 50px; height: 50px;" class="d-flex align-items-center justify-content-center">
                <button style="background-color: #ff7800; border: none; color: #fff;">&#60;</button>
            </div>

            <!-- Testimonials Cards -->
            <% if (testimonials && testimonials.length > 0) { %>
                <% testimonials.forEach(testimonial => { %>
                    <div class="col-md-3 mb-3">
                        <div class="card">
                            <img src="<%= testimonial.photo %>" class="card-img-top" alt="Profile photo">
                            <div class="card-body">
                                <p class="card-text"><%= testimonial.description %></p>
                                <h5 class="card-title"><%= testimonial.name %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="text-center">No testimonials found.</p>
            <% } %>

            <!-- Right arrow button -->
            <div style="background-color: #ff7800; border-radius: 50%; width: 50px; height: 50px;" class="d-flex align-items-center justify-content-center">
                <button style="background-color: #ff7800; border: none; color: #fff;">&#62;</button>
            </div>
        </div>
    </div>
</section>
