   <!-- Testimonials Section -->

    <section id="testimonials">
        
        <div class="container">
            <h2 class="section-title">Testimonials</h2>
            <div class="row">

                <div  style="background-color: #ff7800; border-radius: 50%; width: 50px; height: 50px;" class="gt"  >
    
<button style="background-color: #ff7800;" >&lt;</button>
</div>

                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                             <img src="../uploads/CEO.jpg" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;" alt="Team Member">
                            <p class="card-text">"Dreammore transformed our brand with their amazing design work!"</p>
                            <h5 class="card-title">Sarah W.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                             <img src="../uploads/CEO.jpg" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;" alt="Team Member">
                            <p class="card-text">"The training courses were a game-changer for my career."</p>
                            <h5 class="card-title">Michael T.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                             <img src="../uploads/CEO.jpg" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;" alt="Team Member">
                            <p class="card-text">"Professional and timely service. Highly recommend!"</p>
                            <h5 class="card-title">Emily R.</h5>
                        </div>
                    </div>
                </div>
                <!-- fornext see -->
<div  style="background-color: #ff7800; border-radius: 50%; width: 50px; height: 50px; " class="gt"  >
    
<button  style="background-color: #ff7800;">&gt;</button>
</div>

            </div>

        </div>
    </section>
